<a href="https://colab.research.google.com/github/donaldstierman/Data-Analysis/blob/master/GoogleDataLabExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Some examples for using BigQuery from within a Jupyter notebook

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
%load_ext google.colab.data_table

In [0]:
# %unload_ext google.colab.data_table

In [4]:
# Display query output immediately

%%bigquery --project ecstatic-night-266506
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

   total_rows
0   114420316

In [0]:
# Save output in a variable `df`

%%bigquery --project ecstatic-night-266506 df
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

In [6]:
df

   total_rows
0   114420316

In [9]:
from google.cloud import bigquery

client = bigquery.Client(project='ecstatic-night-266506')

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.samples.gsod`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 114420316 rows

In [10]:
df.describe()

       station_number   wban_number  ...  total_precipitation  snow_depth
count     1992.000000   1992.000000  ...          1804.000000   93.000000
mean    505231.421185  90385.213855  ...             0.072766   10.682796
std     302390.867920  26193.975533  ...             0.333586   11.602011
min      10010.000000   3103.000000  ...             0.000000    0.400000
25%     238692.500000  99999.000000  ...             0.000000    3.100000
50%     540195.000000  99999.000000  ...             0.000000    7.500000
75%     725115.250000  99999.000000  ...             0.010000   15.000000
max     999999.000000  99999.000000  ...             6.420000   63.000000

[8 rows x 22 columns]

In [11]:
df.head(10)

   station_number  wban_number  year  month  ...   snow   hail  thunder  tornado
0          416200        99999  1981     12  ...  False  False    False    False
1          719675        99999  1985     10  ...  False  False    False    False
2          723417        93988  1996     10  ...  False  False    False    False
3          135980        99999  2001      5  ...  False  False    False    False
4          574510        99999  1984      7  ...  False  False    False    False
5          605600        99999  2008      8  ...  False  False    False    False
6          943670        99999  1960      7  ...  False  False    False    False
7          945420        99999  1999     10  ...  False  False    False    False
8          536980        99999  1979      6  ...  False  False    False    False
9          644010        99999  1981      3  ...  False  False    False    False

[10 rows x 31 columns]

In [12]:
# 10 highest total_precipitation samples
df.sort_values('total_precipitation', ascending=False).head(10)[['station_number', 'year', 'month', 'day', 'total_precipitation']]

      station_number  year  month  day  total_precipitation
847           156010  2003      6   25                 6.42
1806           76030  1988      6   17                 4.72
571           976900  1996      2   22                 4.13
1325          822810  1991      2   19                 4.13
1090          587370  1980      4   29                 4.13
2             723417  1996     10   22                 3.55
441           386130  1961      2    4                 2.95
1710          549450  1989      8   25                 1.93
212           691490  1999      2   22                 1.88
1610          117100  2007      7   21                 1.82

In [14]:
import pandas as pd

sample_count = 2000
df = pd.io.gbq.read_gbq('''
  SELECT name, SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''', project_id='ecstatic-night-266506', dialect='standard')

df.head()

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

      name   count
0    James  272793
1     John  235139
2  Michael  225320
3   Robert  220399
4    David  219028